<div class="col-lg-10 col-lg-offset-1">
  <div class="jumbotron">
    <h2>{{titulo}}</h2>
    <p>La pagina que intentas cargar no existe :C, prueba con estos botones:</p>
    <p>
      <a href="#" class="btn btn-primary">Ver productos</a>
      <a href="#" class="btn btn-success">Añadir productos</a>
    </p>
  </div>
</div>