<div class="col-lg-10 col-lg-offset-1">
  <div class="jumbotron">
    <h2>{{titulo}}</h2>
    <p>Gestiona tus productos con la aplicacion web SPA creada con Angular</p>
    <p>
      <a href="#" class="btn btn-primary">Ver productos</a>
      <a href="#" class="btn btn-success">Añadir productos</a>
    </p>
  </div>
</div>